@font-face{
font-family: "Tomato-Ketchup";
src:  url(/Font_Ketchup/static/src/fonts/Tomato-Ketchup-Bold.otf);
}

@font-face{
font-family: "Gitan-Latin";
src:  url(/Font_Ketchup/static/src/fonts/Gitan-Latin-Regular.otf);
}